@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

main {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #8e24aa;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 15rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #1a1a1a, 15px 15px 0px #9c27b0, 20px 20px 0px #8e24aa, 25px 25px 0px #7b1fa2, 45px 45px
    10px rgba(156, 39, 176, 0.3);
}

@media (max-width: 768px) {
  main {
    font-size: 8rem;
    text-shadow: 5px 5px 0px #1a1a1a, 8px 8px 0px #9c27b0, 10px 10px 0px #8e24aa, 12px 12px 0px #7b1fa2, 20px 20px 8px
      rgba(156, 39, 176, 0.3);
  }
}

@media (max-width: 480px) {
  main {
    font-size: 5rem;
    text-shadow: 3px 3px 0px #1a1a1a, 5px 5px 0px #9c27b0, 7px 7px 0px #8e24aa, 9px 9px 0px #7b1fa2, 15px 15px 6px
      rgba(156, 39, 176, 0.3);
  }
}
